<button (click)="color === 'blue' ? color = 'red' : color = 'blue'">Bruh</button>

<p *ngIf="color === 'blue'">
  Rouge
</p>

<p *ngIf="color === 'red'">
  Bleu
</p>

<h3>
  Musique:
</h3>
<ul>
 <!--  ici contrairement au for of de javascript , on peut pas utiliser const pour notre variable -->
  <li *ngFor="let sound of sounds">
    {{sound}}
  </li>
</ul>

<div appHighlight>
  Fluotez moi !
</div>
<div appHighlight highlightColor="purple">
  Fluotez moi en mauve !
</div>
<div appHighlight highlightColor="green">
  Fluotez moi en vert !
</div>
<div appHighlight highlightColor="blue">
  Fluotez moi en bleu !
</div>