<button (click)="color === 'blue' ? color = 'red' : color = 'blue'">Bruh</button>

<p *ngIf="color === 'blue'">
  Rouge
</p>

<p *ngIf="color === 'red'">
  Bleu
</p>

<h3>
  Musique:
</h3>
<ul>
 <!--  ici contrairement au for of de javascript , on peut pas utiliser const pour notre variable -->
  <li *ngFor="let sound of sounds">
    {{sound}}
  </li>
</ul>

<div appHighlight>
  Fluotez moi !
</div>
<div appHighlight highlightColor="purple">
  Fluotez moi en mauve !
</div>
<div appHighlight highlightColor="green">
  Fluotez moi en vert !
</div>
<div appHighlight highlightColor="blue">
  Fluotez moi en bleu !
</div>

<div>
  <p appStaticPColor>test1</p>
  <p appStaticPColor textColor="blue">test2</p>
  <p appStaticPColor textColor="red">test3</p>
</div>


<div appCoffee>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam vero officiis, nisi numquam aliquam.</p>
</div>

<!--Nos pipes sont éxécutés de gauche à droite-->
{{"marIo" | lowercase | uppercase}}
<br>
{{ "420" | currency : 'EUR'}}
<br>
{{ "Je suis une loutre salope !" | loutre : "tortue"}}
<br>

{{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem blanditiis, corporis iure temporibus eligendi et, neque labore, nesciunt beatae ex maiores suscipit facilis. Ipsam voluptas sunt vitae. Suscipit tempora natus itaque iste iure explicabo et est quae, ipsam qui possimus, voluptatem voluptates excepturi vero dolorum facere ab eveniet quo enim." | summary : 35}}